[submodule "docker/platform/houston-api"]
	path = docker/platform/houston-api
	url = git@github.com:sjmiller609/houston-api.git
[submodule "docker/platform/commander"]
	path = docker/platform/commander
	url = git@github.com:sjmiller609/commander.git
[submodule "docker/platform/orbit-ui"]
	path = docker/platform/orbit-ui
	url = git@github.com:sjmiller609/orbit-ui.git
[submodule "docker/platform/docker/platform/default-backend"]
	path = docker/platform/docker/platform/default-backend
	url = git@github.com:sjmiller609/default-backend.git
[submodule "docker/platform/default-backend"]
	path = docker/platform/default-backend
	url = git@github.com:sjmiller609/default-backend.git
